# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/Lab01/v17/Browse.VC.opendb
/.vs/Lab01/v17/Browse.VC.db-wal
/.vs/Lab01/v17/Browse.VC.db-shm
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/.vs/Chess-CSE231/v17/.suo
/.vs/Lab01/FileContentIndex/1f9e0dc7-45ac-4e4e-be1c-3f09dee16795.vsidx
/.vs/Lab01/FileContentIndex/b08e2b83-03f6-45fa-a847-c14c0a177a7f.vsidx
/.vs/Lab01/FileContentIndex/bea10a66-a684-4f39-88c0-2955118114bb.vsidx
/.vs/Lab01/FileContentIndex/c056ddc8-4a63-4faf-88ac-d0e706488068.vsidx
/.vs/Lab01/FileContentIndex/read.lock
/.vs/Lab01/v17/ipch/AutoPCH/d7ccd4dae4f401d3/UIINTERACT.ipch
/.vs/Lab01/v17/ipch/AutoPCH/e0b7ab42b03bbd0f/CHESS.ipch
/.vs/Lab01/v17/.suo
/.vs/Lab01/v17/Browse.VC.db
/.vs/Lab01/FileContentIndex/6e85c4ca-5c55-4fe6-9d50-90bc3ca38cd9.vsidx
/.vs/Lab01/FileContentIndex/1ab7817e-f9c1-432a-8e92-c1dde7cd3dcf.vsidx
*.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Lab01/v17/ipch/AutoPCH/6dd4495a20e2648f/CHESS.ipch
/.vs/Lab01/v17/ipch/AutoPCH/6dd4495a20e2648f
/.vs/Lab01/v16/ipch/AutoPCH/6dd4495a20e2648f/CHESS.ipch
/.vs/Lab01/v16/ipch/AutoPCH/6dd4495a20e2648f
/.vs/Lab01
/.vs/Lab 01/v16/Browse.VC.db
/.vs/Lab 01/v16/.suo
