################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Lab01/v17/ipch/AutoPCH/e0b7ab42b03bbd0f/CHESS.ipch
/.vs/Lab01/v17/ipch/AutoPCH/e0b7ab42b03bbd0f
/.vs/Lab01/v17/ipch/AutoPCH/7993b80ac7e99fac/POINT.ipch
/.vs/Lab01/v17/ipch/AutoPCH/7993b80ac7e99fac
/.vs/Lab01/v17/ipch/AutoPCH
/.vs/Lab01/v17/Browse.VC.db
/.vs/Lab01/v17/.suo
/.vs/Lab01/v17
/.vs/Lab01/FileContentIndex/read.lock
/.vs/Lab01/FileContentIndex/d5498474-188d-4c1b-bce8-6d9661c93510.vsidx
/.vs/Lab01/FileContentIndex/683488dc-9782-4490-86f3-a333f6b0ad78.vsidx
/.vs/Lab01/FileContentIndex/48702985-afb0-4da1-9ea5-769ae839b1e1.vsidx
/.vs/Lab01/FileContentIndex/1a935d25-3b60-469b-a749-1df89cf1e4ad.vsidx
/.vs/Lab01/FileContentIndex
/.vs/Lab01
/.vs/Chess-CSE231/v17/Browse.VC.opendb
/.vs/Chess-CSE231/v17/Browse.VC.db-wal
/.vs/Chess-CSE231/v17/Browse.VC.db-shm
/.vs/Chess-CSE231/v17/Browse.VC.db
/.vs/Chess-CSE231/v17/.suo
/.vs/Chess-CSE231/v17
/.vs/Chess-CSE231/FileContentIndex/read.lock
/.vs/Chess-CSE231/FileContentIndex/facc8e90-731f-4853-b3e9-317bef5852ab.vsidx
/.vs/Chess-CSE231/FileContentIndex/b4c92503-8598-41dd-8809-06f8ade09bfb.vsidx
/.vs/Chess-CSE231/FileContentIndex/66fe53d6-177c-4af1-941c-f8da8b5d138c.vsidx
/.vs/Chess-CSE231/FileContentIndex/554e1bad-47c6-4f62-afee-99a3024fe504.vsidx
/.vs/Chess-CSE231/FileContentIndex/0c659118-205e-4265-a005-2da8d0fe087c.vsidx
/.vs/Chess-CSE231/FileContentIndex/fdbf6f8b-7a1e-4125-b2e0-98b8b152c384.vsidx
/.vs/Chess-CSE231/FileContentIndex/fdbf6f8b-7a1e-4125-b2e0-98b8b152c384.vsidx
/.vs/Chess-CSE231/FileContentIndex/ea665d3c-d364-4003-9121-036cb3dc9245.vsidx
*.vsidx
